<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.gmail.aamnony.autoregistercourses"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".CartIntentService"
            android:exported="false">
        </service>

        <receiver
            android:name=".RegisterCartReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".WaitingListActivity"
            android:label="@string/waiting_list">
        </activity>
    </application>

</manifest>
